*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
  min-height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(blue,lightblue);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
img{
    margin-top: -1000px;
    position: absolute;
    height: 130px;
    width: 130px;
}
.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background-image: linear-gradient(lightblue,blue);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.container header{
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    text-align: center;
}
.container.form{
    margin-top: 30px;
}
.form .input-box{
    width: 100%;
    margin-top: 20px;
}
.input-box label{
     color: black;
}
.form :where(.input-box input){
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: black;
    margin-top: 8px;
    border: 1px solid skyblue;
    border-radius: 6px;
    padding: 0 15px;
}
.form .column{
    display: flex;
    column-gap: 25px;
    color: black;
}
.form :where(.gender-box){
    margin-top: 20px;
}
.gender-box h3{
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.form :where(.gender-option,.gender){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.form .gender{
    column-gap: 5px;
    cursor:pointer ;
}
.gender input{
    accent-color:  #016795; 
}
.form :where(.gender input, .gender label){
    cursor: pointer;
}
.form :where(.select-box){
    margin-top: 20px;
}
.select-box h3{
    color: black;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.form :where(.year-option,.year){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.form .year{
    column-gap: 5px;
    cursor:pointer ;
}
.year input{
    accent-color:  #016795; 
}
.form :where(.year input, .year label){
    cursor: pointer;

}
.form button{
     height: 55px;
     width: 100%;
     color: black;
     font-size: 1rem;
     border: none;
     margin-top: 50px;
     cursor: pointer;
     border-radius: 6px;
     font-weight: 400;
     transition: all 0.2s ease;
     background-color:lightblue;
}
.form button:hover{
    box-shadow: 1px 5px 7px 1px rgba(65, 3, 94, 0.7);
    }
/*Responsive*/
@media screen and (max-width:500px) {
    .form .column{
        flex-wrap: wrap;
    }
}
.form :where(.gender-option,.gender){
    row-gap: 15px;
}
.form :where(.year-option,.year){
    row-gap: 15px;
}







































